---
export interface Props {
  title: string
}

const {
  title
} = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title} - DevSpace HUB</title>
</head>
<body class="min-h-screen flex flex-col justify-center items-center">
  <slot />

  <script>
    import { isValidSession } from '../lib/auth/sessions/isValidSession'
    import { logOut } from '../lib/auth/logOut'

    console.log(location.href)

    if (!location.href.startsWith('http://localhost:3000/auth') && !await isValidSession()) {
      logOut()
    }

    if (location.href === 'http://localhost:3000/auth' && await isValidSession()) {
      location.href = 'http://localhost:3000'
    }
  </script>
</body>
</html>

<style>
  * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body {
    background: #252525;
    color: #fff;
    z-index: -1;
  }

  body::after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #ffe13433;
    border-radius: 100%;
    filter: blur(120px);
    z-index: -1;
  }
</style>