---
import RandomUsers from '@comp/random-data/RandomUsers.svelte'
import AvatarDropdown from '@comp/ui/AvatarDropdown.svelte';
import LogOutButton from '@comp/ui/LogOutButton.svelte'
import Layout from '@layout/RootLayout.astro'
---

<Layout title='Home'>
  <header class='flex w-full items-center justify-between gap-5'>
    <h1 class='text-2xl font-bold'>DevSpace HUB</h1>
    <span class="h-full flex items-center py-4 gap-4">
      <a
        class='px-2 py-1 font-bold text-white bg-green-500'
        href='http://localhost:3000/new-project'
      >
        + New Project
      </a>
      <LogOutButton client:only />
      <AvatarDropdown client:only />
    </span>
  </header>
  <main class="flex flex-col items-center w-full flex-grow">
    <RandomUsers client:only />
  </main>
</Layout>
