---
import LogOutButton from "@comp/ui/LogOutButton.svelte";
import Layout from "@layout/RootLayout.astro";
---

<Layout title="Home">
	<header class="flex items-center gap-5">
    <h1>DevSpace HUB</h1>
    <LogOutButton client:only />
  </header>
</Layout>
