---
import AvatarDropdown from "./AvatarDropdown.svelte";
import LogOutButton from "./LogOutButton.svelte";
import NewProjectLink from "./NewProjectLink.svelte";

---

<header class='flex w-full items-center justify-between gap-5'>
  <h1 class='text-2xl font-bold'><a href="/">DevSpace HUB</a></h1>
  <span class="h-full flex items-center py-4 gap-4">
    <a
      class='px-2 py-1 font-bold text-white bg-blue-500 rounded-sm'
      href='http://localhost:3000/search'
    >
      🔎 Search
    </a>
    <NewProjectLink client:only />
    <LogOutButton client:only />
    <AvatarDropdown client:only />
  </span>
</header>