---
import Layout from '@layout/RootLayout.astro'
import FollowButton from '@comp/ui/FollowButton.svelte'
import UserName from '@comp/UserName.svelte'
import { getUserByUsername } from '@lib/users/getUser'
import RandomUsers from '@comp/random-data/RandomUsers.astro'
import { getFollowsCount } from '@lib/follows/getFollowsCount'
import type { User } from '../../types/User'
import FollowCount from '@comp/ui/FollowCount.svelte'

export const prerender = false

const { username } = Astro.params

if (!username) {
  Astro.redirect('/')
}

const user: User = await getUserByUsername(username as string)

const followCount: {
  followers: number,
  followings: number
} = await getFollowsCount(user.id_user)

if (user?.status === 404) {
  return Astro.redirect('/404?message=Usuario%20no%20encontrado')
}
---

<Layout title={user.display_name ?? user.username}>
  <main class="flex flex-col items-center w-full flex-grow">
    <header class="flex items-center justify-between w-full gap-4 py-4">
      <div class="flex items-center gap-4">
        <img
          src='https://alumni.engineering.utoronto.ca/files/2022/05/Avatar-Placeholder-400x400-1.jpg'
          alt={user.username}
          class="aspect-square h-20 rounded-full" 
        />
        <UserName username={user.username} display_name={user.display_name} />
      </div>
      <FollowCount client:load counts={followCount}  />
      <FollowButton client:load />
    </header>
    <RandomUsers />
  </main>
</Layout>
